.project {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0;
}
.project .title {
  font-size: 2rem;
  margin-bottom: 10px;
}
.project .desc {
  font-size: 1.1rem;
  color: rgba(238, 218, 218, 0.651);
}
.project img {
  width: 40rem;
  border-radius: 10px;
}

.project hr {
  border: none;
  background-color: #fa7268;
  height: 10px;
  width: 20rem;
  border-radius: 30px;
  margin-top: 5rem;
}

@media screen and (max-width: 1350px) {
  .project {
    flex-direction: column-reverse !important;
    gap: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .project img {
    width: 25rem;
  }
}
